html * {
  font-size: 1em;
  color: white;
  font-family: "Ubuntu";
}

body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.page {
  background-color: white;
  height: 100%;
  width: 100%;
}

.window {
  height: 100vh;
  width: 100vw;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* general pages css */
.topnav h1 {
  color: white;
  margin: 0 0 0.5rem 0 !important;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 2rem;
}

.topnav img {
  margin-left: 2%;
  margin-right: 2%;
  width: auto;
  height: 80%;
  cursor: pointer;
  z-index: 1;
}

.topnav {
  width: 100vw;
  display: flex;
  height: 12%;
  background-color: #7662C5;
  display: flex;
  align-items: center
}

.container {
  border-radius: 10px;
  background-color: #7662C5;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}


